<div class="text-white d-md-flex  align-items-center home justify-content-center w-75 w-md-100 m-auto">
  <div class="images mt-3 mt-md-0">
      <img class="picture-me" src="assets/images/me.jpg" alt="me">
  </div>
  <div class="letters ms-md-5 mt-3 mt-md-0">
    <div class="text-center text-md-start">
      <h1 class="fw-bolder">Hello! I'm Daniel Asanza</h1>
      <p class="software-letters">Software developer</p>
      <p class="fs-6 lh-lg paragraph">To be a part of company that indulges professional growth which  provides challenging and rewarding career while allowing me to utilize my knowledge and skills.</p>
      <div class="d-flex justify-content-center justify-content-md-start">
        <button type="button" class="btn" (click)="openCV()">
          <strong class="text-uppercase">Download my CV</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>
          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
