<section id="skills" class="bg-white vh-100 d-flex flex-column justify-content-center">
  <div class="text-center fw-bolder">
    <h2 class="fw-bolder">My Skills</h2>
  </div>
  <div>
    <div class="skills w-75  m-auto gap-5 mt-4 flex-wrap">
      <div class="skill ">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/HTML.svg" alt="HTML"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">HTML</span>
          <span class="skill-percentage">90%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/CSS.svg" alt="CSS"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">CSS</span>
          <span class="skill-percentage">80%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/JavaScript.svg" alt="JavaScript"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">JavaScript</span>
          <span class="skill-percentage">80%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/Angular-Dark.svg" alt="JavaScript"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">Angular</span>
          <span class="skill-percentage">80%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/Figma-Dark.svg" alt="Figma"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">Figma</span>
          <span class="skill-percentage">70%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/PHP-Dark.svg" alt="Php"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">Php</span>
          <span class="skill-percentage">70%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/CS.svg" alt="C#"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">C#</span>
          <span class="skill-percentage">70%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/Git.svg" alt="C#"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">Git</span>
          <span class="skill-percentage">50%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/Github-Dark.svg" alt="C#"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">GitHub</span>
          <span class="skill-percentage">80%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/Flutter-Dark.svg" alt="C#"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">Flutter</span>
          <span class="skill-percentage">60%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/Firebase-Dark.svg" alt="C#"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">Firebase</span>
          <span class="skill-percentage">70%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/MySQL-Dark.svg" alt="MySql"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">MySQL</span>
          <span class="skill-percentage">60%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/Postman.svg" alt="Postamn"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">Postman</span>
          <span class="skill-percentage">80%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/TailwindCSS-Dark.svg" alt="Tailwind"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">Tailwind</span>
          <span class="skill-percentage">90%</span>
        </div>
      </div>

      <div class="skill">
        <img src="https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/TypeScript.svg" alt="Typescript"
          class="language-icon">
        <div class="skill-bar" style="width: 80%;">
          <span class="skill-name px-2">Typescript</span>
          <span class="skill-percentage">80%</span>
        </div>
      </div>
    </div>

  </div>
</section>